---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"    {\n      organization(login: \"dxw\") {\n        repositories(first:
        100, orderBy: { field: NAME, direction: ASC }) {\n          nodes {\n            id\n            name\n            url\n            isArchived\n            defaultBranchRef
        {\n              target {\n                ... on Commit {\n                  tree
        {\n                    entries {\n                      name\n                    }\n                  }\n                }\n              }\n            }\n          }\n          pageInfo
        {\n            hasNextPage\n            endCursor\n          }\n        }\n      }\n    }\n"}'
    headers:
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1595255042'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"organization":{"repositories":{"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkyNzY4NDk1OTg=","name":".github","url":"https://github.com/dxw/.github","isArchived":false,"defaultBranchRef":{"target":{"tree":{"entries":[{"name":"CODE_OF_CONDUCT.md"},{"name":"CONTRIBUTING.md"},{"name":"README.md"}]}}}},{"id":"MDEwOlJlcG9zaXRvcnkxMTM5ODEzMDU=","name":"10000ft-scheduling-dashboard","url":"https://github.com/dxw/10000ft-scheduling-dashboard","isArchived":true,"defaultBranchRef":{"target":{"tree":{"entries":[{"name":".gitignore"},{"name":".rspec"},{"name":".rubocop.yml"},{"name":".ruby-version"},{"name":"Dockerfile"},{"name":"Gemfile"},{"name":"Gemfile.lock"},{"name":"README.md"},{"name":"Rakefile"},{"name":"app"},[...]
[...]
