---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"    {\n      organization(login: \"dxw\") {\n        repositories(first:
        100, orderBy: { field: NAME, direction: ASC }) {\n          nodes {\n            id\n            name\n          }\n          pageInfo
        {\n            endCursor\n            startCursor\n          }\n        }\n      }\n    }\n"}'
    headers:
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1594997283'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"organization":{"repositories":{"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkyNzY4NDk1OTg=","name":".github"},{"id":"MDEwOlJlcG9zaXRvcnkxMTM5ODEzMDU=","name":"10000ft-scheduling-dashboard"},{"id":"MDEwOlJlcG9zaXRvcnkxMTc2MTM4OA==","name":"136-jquery-ajax-revised"},{"id":"MDEwOlJlcG9zaXRvcnkzNzMyMDc3Mg==","name":"2fa"},{"id":"MDEwOlJlcG9zaXRvcnkyNjM1ODYwNg==","name":"AccHack14"},{"id":"MDEwOlJlcG9zaXRvcnkzNjc1NDcyNg==","name":"acf"},{"id":"MDEwOlJlcG9zaXRvcnkyNjkzODk2ODI=","name":"advisories"},{"id":"MDEwOlJlcG9zaXRvcnkyMTIzMjY3ODI=","name":"affordable-housing-monitoring"},{"id":"MDEwOlJlcG9za[...]
