---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"    {\n      organization(login: \"dxw\") {\n        repositories(first:
        100, orderBy: { field: NAME, direction: ASC }) {\n          nodes {\n            id\n            name\n            url\n            isArchived\n            defaultBranchRef
        {\n              target {\n                ... on Commit {\n                  tree
        {\n                    entries {\n                      name\n                    }\n                  }\n                }\n              }\n            }\n          }\n          pageInfo
        {\n            hasNextPage\n            endCursor\n          }\n        }\n      }\n    }\n"}'
    headers:
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1597940987'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"organization":{"repositories":{"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkyNzY4NDk1OTg=","name":".github","url":"https://github.com/dxw/.github","isArchived":false,"defaultBranchRef":{"target":{"tree":{"entries":[{"name":"CODE_OF_CONDUCT.md"},{"name":"CONTRIBUTING.md"},{"name":"README.md"}]}}}},{"id":"MDEwOlJlcG9zaXRvcnkxMTM5ODEzMDU=","name":"10000ft-scheduling-dashboard","url":"https://github.com/dxw/10000ft-scheduling-dashboard","isArchived":true,"defaultBranchRef":{"target":{"tree":{"entries":[{"name":".gitignore"},{"name":".rspec"},{"name":".rubocop.yml"},{"name":".ruby-version"},{"name":"Dockerfile"},{"name":"Gemfile"},{"name":"Gemfile.lock"},{"name":"README.md"},{"name":"Rakefile"},{"name":"app"},[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/dxw/.github/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/2fa/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/acronym-bot/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/advisories/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/ApplicationInsights-Ruby/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:02 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/archivist/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:02 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/azure-resource-manager-schemas/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:02 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/bat-platform-building-blocks/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:03 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/beanstool/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:03 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/bernard/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:03 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/bitnami-docker-discourse/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/bouncer/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/brand-rotator/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/breathe_ruby/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/check-rollbar-error-rate/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/cidr/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/Co-Authors-Plus/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/codeception-notify-module/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/codeception-wordpress/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/collaboration-localgov/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/content-feedback/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/contracts/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/cookie-consent/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/dalmatian-developer-docs/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/DataSubmissionService/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/DataSubmissionServiceAPI/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/date-polyfill/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/discourse/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/dxw-dns/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/dxw-tinyproxy/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/dxw-utils/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1597941000'
      Etag:
      - '"ead812b90770e03505bf853cfaa1a726"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 20 Aug 2020 15:30:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dxw/dxw_govuk_frontend_rails/pulls?head=dxw:repo-audit/add-contributing-documentation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
[...]
